.admin-dash {
    display: flex;
    flex-direction: column;
}

.admin-lists {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.admin-list-button button {
    background-color: rgb(107, 202, 196);
    width: 60px;
    height: 35px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 18px;
    transition: .3s ease;
    margin: 0 0 10px 0;
}

.admin-list-button button:hover {
    background-color: rgb(60, 160, 150);
    border-radius: 15px;
}