#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
    margin: 0 0 20px 0;
}

#customers td,
#customers th {
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: rgb(200, 191, 231);
}

#customers tr:nth-child(odd) {
    background-color: rgb(169, 155, 224);
}

#customers tr:hover {
    background-color: rgb(119, 95, 227);
    color: aliceblue;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #79c4d6;
    color: white;
}